@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* variables  #2692f7;*/
:root {
    --fros-blue-color: #1988f0;
    --blue-color: #004AAD;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: var(--poppins-font);
    overflow-x: hidden;
    text-align: justify;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.bg-blue {
    background-color: var(--fros-blue-color);
}

.bg-white {
    background-color: var(--light-color);
}

.text-blue {
    color: var(--fros-blue-color);
}

.text-white {
    color: var(--light-color);
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}

.py {
    padding: 10rem 0rem 0rem 0rem;
}

/* button */
.btn,
button {
    border: none;
    cursor: pointer;
}

.btn {
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: var(--light-color);
    font-weight: 500;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.btn-white {
    color: var(--fros-blue-color);
}

.btn-light-blue {
    background-color: var(--light-blue-color);
    color: var(--light-color);
}

.btn-blue {
    background-color: var(--fros-blue-color);
    color: var(--light-color);
}

.btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-group .btn {
    width: 100%;
}

.btn-group .btn:first-child {
    margin-bottom: 2rem;
}

.btn:hover {
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

/*boton 2 */


.btn_default2 .btn {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
}

.btn_default2 .btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn_default2 .btn svg rect {
    stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn_default2 .btn span {
    background: rgb(255, 130, 130);
    background: -moz-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: linear-gradient(to right, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1); 
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

/*boton 2 */

.linea-separadora {
    border-bottom: 0.1px solid #79b4eb;
    width: 80%;
    margin: 0 auto;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    display: grid;
}

input {
    outline: 0;
}

.lead {
    font-size: 25px;
    text-transform: capitalize;
}

h1,
h2,
h3 {
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}

.text {
    opacity: 1;
}

.text-md {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 2rem;
    font-weight: 500;
}

.text-sm {
    font-size: 1.3rem;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* boton */
.btn_default1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.btn_default1 nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn_default1 nav ul li {
    --c: #1988f0;
    color: var(--c);
    font-size: 20px;
    border: 0.1em solid var(--c);
    border-radius: 0.5em;
    min-width: 11em;
    max-width: 15em;
    height: 3em;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0.5em;
    display: flex;
    /* agregar */
    align-items: center;
    /* agregar */
    justify-content: center;
}

.btn_default1 nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn_default1 nav ul li:hover {
    color: rgb(255, 255, 255);
}

.btn_default1 nav ul li:hover span {
    transform: translateY(0) scale(2);
}

.btn_default1 nav ul li span:nth-child(1) {
    --n: 1;
}

.btn_default1 nav ul li span:nth-child(2) {
    --n: 2;
}

.btn_default1 nav ul li span:nth-child(3) {
    --n: 3;
}

.btn_default1 nav ul li span:nth-child(4) {
    --n: 4;
}

/* fin boton */

/*---------------------------------------------------------------*/

/* header-----------------sub-menu----------------- */

.sub-menu nav {

    font-size: 15px;
    display: flex;
    justify-content: center;
}

.sub-menu nav li:hover {
    transform: scale(1.05);
}

.sub-menu nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 5px;
}

.sub-menu nav li {
    display: inline-block;
}

.sub-menu nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}

.sub-menu_btn {
    background-color: var(--blue-color);
    width: 100px;
    color: #ffffff;
}


.sub-menu_btn:hover {
    background-color: #5489bb;
    transform: scale(1.02);
}

/*---------------------------------------------------------------*/

/* header -----------MENU----------- */

/*---------------------------------------------------------------*/

.sub-menu {
    padding: 0px;
}

.header {
    min-height: 6vh;
}

.navbar {
    position: fixed;
    opacity: 0.98;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.navbar .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand img {
    max-width: 230px;
    padding: 1.5rem 0rem;
    margin: 0 auto;
}

.navbar-show-btn,
.navbar-hide-btn {
    margin-right: 25px;
    background-color: transparent;
    width: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

button[class ^=navbar]:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    z-index: 1000;
    color: #d4d4d4;
}

/* navbar show class */
.navbar-show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.navbar-hide-btn {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}

.nav-item {

    margin: 1.5rem 0;
    justify-content: center;
}

.nav-link {
    opacity: 0.95;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: white;
   
}
.nav-link_lg{
   width: 155px;
}

.nav-link:hover {
    opacity: 1;
    color: #fff;
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
  
}

.agendar-btn {
    background-color: var(--blue-color);

    padding: .4rem 3rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 30px;
    transition: 1s;
    animation: pulse 3s infinite;
}

.agendar-btn:hover {
    transform: scale(1.05);
}

.agendar-btn a {
    color: white;

}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #2a7fe0
    }

    /*COLOR DE LA PULSACION*/
    70% {
        -webkit-box-shadow: 0 0 0 7px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #2a7fe0;
        box-shadow: 0 0 0 0 #2a7fe0
    }

    /*COLOR DE LA PULSACION*/
    70% {
        -moz-box-shadow: 0 0 0 3px transparent;
        box-shadow: 0 0 0 7px transparent
    }

    100% {
        -moz-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent
    }
}

.search-icon {
    display: block;
    width: 20px;
}

.search-control::-webkit-input-placeholder {
    color: var(--light-blue-color);
}

.search-control::-moz-placeholder {
    color: var(--light-blue-color);
}

.search-control:-ms-input-placeholder {
    color: var(--fros-blue-color);
}

.search-control::-ms-input-placeholder {
    color: var(--fros-blue-color);
}

.search-control::placeholder {
    color: rgb(218, 218, 218);
}

.search-control {
    height: 27px;
    width: 100%;
    border-radius: 1.9rem;
    border: 2px solid var(--light-gray);
    padding: 0 1.5rem;
}

/*---------------------------------------------------------------*/

/* SEARCH */

#input-search {
    width: 180px;
    height: 30px;
    padding: 0rem 1rem;
    margin: 0rem 2rem;
    font-size: 12px;
    text-indent: 10px;
    border: 0.5px solid #cfcfcf;
    border-radius: 30px;
}

.search-space {
    position: relative;
    display: flex;
    justify-content: end;

}

.input-space {
    padding: 3px;
}

.lupa-search {
    position: absolute;
    background-color: var(--fros-blue-color);
    border-radius: 50%;
    width: 38px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
}

.content-search {
    width: 67%;
    height: 100vh;
    position: fixed;
    top: 45px;
    left: 1;
    display: none;
}

.content-table {
    width: 100%;
    max-height: 200px;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
    overflow-y: visible;
    overflow-x: hidden;
    font-size: 14px;

}

.content-table p {
    margin: 1rem 1rem 0rem 1rem;
    color: #949494;
}

.content-table table {
    width: 100%;
}

tbody tr td a {
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 1rem;
}

tbody tr td a:hover {
    background: rgba(29, 113, 223, 0.582);
    border-radius: 10px;
    color: white;
}

#table_length,
#table_filter,
#table_info,
#table_paginate {
    display: none;
}


.df-messenger {
    --df-messenger-chat-background-color: #3113b6;
}

/*---------------------------------------------------------------*/

/* header -----------MENU----------- */

/* INICIO header inner */
.header-inner {
    padding-top: 1rem;
}

.header-inner-left h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}

.header-inner-left h1 span {
    font-weight: 300;
    text-transform: uppercase;
}

.header-inner-left .lead {
    opacity: 0.9;
}

.header-inner-left .text {
    margin: 5.8rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.header-inner-left .btn-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-inner-right {
    margin-top: 6rem;
}

.header-inner-right img {
    max-width: 500px;
    margin: 0 auto;
}

/*---------------------------------------------------------------*/

.hero-inicio {

    margin-top: 5px;
    height: 820px;
}

.inicio-contenedor {

    height: 670px;
    background-color: rgb(0, 0, 0);
    margin-top: 60px;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(/images/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo64 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-estatica {
    position: fixed;
    top: 200px;
    left: 0;
    background-color: hsla(0, 0%, 95%, 0.596);
    width: 200px;
    height: 80px;
    padding: 1rem;
}

.imagen-estatica img {
    width: 100%;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    height: 245px;
    margin: 0 auto;
    position: absolute;
    top: 520px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.grid-item {

    background: linear-gradient(90deg, #F3F3F3 102.36%, #F0F2F0 102.37%);
    padding: 20px;
    text-align: center;
    transition: transform 1s;
    pointer-events: stroke;
    cursor: pointer;
}

.grid-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.panel-servicios {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #202020;
}

.panel-ubicacion {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-especialidades:hover {
    transform: scale(1.15);
}

.panel-servicios:hover {
    transform: scale(1.15);
}

.panel-ubicacion:hover {
    transform: scale(1.15);
}

.grid-item img {
    max-width: 45%;
    margin: auto;
    padding: 10px;
}

.grid-item h1 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.grid-item p {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.grid-item span {
    color: #000000;
    font-weight: normal;

}

/*  FIN seccion panel */

/* ----------------------------------------------------------------------------- */

/* imagenes diagnosticas */

.imagenes-banner {
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.img-banner_ {
    width: 60%;
    margin: 0 auto;
    transition: 0.5s;
}

.img-banner_:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.img-banner_ img {
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------- */

/* INICIO de seccion Especialidades */

.especialidades {
    background-image: url(/images/bg-especialidades.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-especialidades {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.especialidades .container-e {
    height: 600px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}

.especialidades-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 420px;
    width: 330px;
    text-align: center;
    margin: 5rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #0f6666;
}

.head-box {
    height: 65px;
    text-align: center;
    background-color: var(--fros-blue-color);
    padding: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 40px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.info-box {
    padding: 15px;
    font-size: 14px;
}

.img-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out;
}

.texto-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 56, 255);
    background: linear-gradient(180deg, rgba(0, 56, 255, 0.8071603641456583) 22%, #1988f0 100%);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 12rem 1.5rem;
    background-position: bottom;
}

.img-box:hover>.texto-box {
    opacity: 1;
    visibility: visible;
    background-position: top;
}

.img-box .texto-box p {
    color: #fff;
    font-size: 17px;
    line-height: 1.3;
    width: 100%;
    margin: 0 auto;
}

/* FIN de seccion Especialidades */

/* ---------------------------------------------------------------------------------- */

/* INICIO seccion de Servicios */

.package-service {

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.65)), to(rgba(0, 80, 213, 0.95))), url('../images/package-service-img.jpg') center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.65), rgba(0, 80, 213, 0.95)), url('../images/package-service-img.jpg') center/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.65), rgba(0, 80, 213, 0.95)), url('../images/package-service-img.jpg') center/cover no-repeat;
    padding: 10rem 0rem;
}

.container-s {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.servicios-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    max-width: 100%;
    padding: 1rem;
}

.box-servicio {
    position: relative;
    width: 450px;
    height: 40rem;
    margin: 0 auto;
    box-sizing: border-box;
    border-color: #2592f7;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.55);
    background-color: #ffffff;
    transition: 1.5s;
}

.box-servicio:hover {
    transform: scale(1.05);
}

.head-servicio {
    font-size: 20px;
    height: 50px;
    width: 100%;
    margin-top: 3rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-servicio {
    padding: 5px;
    position: absolute;
    top: 30%;
}

.info-servicio p {
    font-size: 15px;
    color: #4d4d4d
}

.pie-servicio {
    position: absolute;
    bottom: 100px;
    left: 34%;
}

#img-serv {
    position: absolute;
    bottom: 20px;
}

.btn-info {
    padding: 1rem;
    background-color: azure;
    margin-top: 4rem;
}

.btn-info:hover {
    transform: scale(1.1);
}

/* FIN de seccion de servicios

/* ---------------------------------------------------------------------- */

/* INICIO de seccion capacidad instalada */
.capacidad-instalacion {
    height: auto;

}

.capacidad-countup {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;

}

.container-capacidad {
    display: flex;
    flex-direction: column;
    background: rgb(230, 239, 252);
    width: 220px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    border-bottom: 15px solid #006fd6;
}

.container-capacidad .num {
    font-size: 45px;
    font-weight: bold;
    padding: 1.5rem;
}

/* FIN de seccion Capacidad Instalada */

/* ---------------------------------------------------------------------- */

/* INICIO de seccion contactenos */
.contact {
    margin: 0 auto;
    width: 100%;
}

.contact-left {
    margin-bottom: 6rem;
    height: 100%;
}

.contact-left iframe {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.contact-right {
    padding: 5rem 1rem;
}

.contact-right form {
    margin-top: 5rem;
}

.contact-info-m {
    display: flex;
    justify-content: center;
    border: 0.7px solid #0992e2;
    background-color: azure;
    border-radius: 80px;
    color: #000;
    margin: 5px 5px 15px 5px;
    padding: 5px;
    position: relative;
}

.contact-info-m svg {
    width: 20%;
    position: absolute;
    left: 0;
}


/* FIN de seccion contactenos */

/* ---------------------------------------------------------------------- */

/* INICIO de redes sociales */

.contenedor-redes-sociales {
    width: 400px;
    left: 0;
    position: fixed;
    top: 400px;
    margin-left: 10px;
}

.contenedor-redes-sociales a {
    cursor: pointer;
    text-decoration: none;
}

.contenedor-redes-sociales .icono {
    top: 50%;
    position: relative;
    margin-bottom: 10px;
}

.contenedor-redes-sociales .icono-primary {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3b5998;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
}

.contenedor-redes-sociales .contenedor-descripcion {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 24px;
}

.contenedor-redes-sociales .icono-descripcion {
    width: 250px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3b5998;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(-110%, 0, 0);
    -ms-transform: translate3d(-110%, 0, 0);
    -o-transform: translate3d(-110%, 0, 0);
    transform: translate3d(-110%, 0, 0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contenedor-redes-sociales .icono-primary:hover~.contenedor-descripcion .icono-descripcion {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}


/* INICIO de convenios */
.Carousel {
    width: 100%;
}

.Carousel h2 {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick {
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.pie-slick {
    background-color: #006fd6;
    padding: 1.2rem;
}

.slick h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}

.slick h4 small {
    font-size: 15px;
    display: block;
}

.slick a img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;

    transition: .3s ease-in-out;
}

.slick a img:hover {
    opacity: .85;
}

/* buttons */

.slick-arrow {
    border-radius: 30px;
    background-color: #05050591;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.726);
    border: 0;
    cursor: pointer;
}

.slick-arrow:hover {
    background-color: #050505d3;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.37);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}





/*FIN de convenios

/*---------------------------------------------------------------*/

/*-------Colores Para Redes Sociales-------*/
.contenedor-redes-sociales .color-twitter {
    background: #3B94D9;
}

.contenedor-redes-sociales .color-googleplus {
    background: #dd4339;
}

/* ---------------------------------------------------------------------- */

/*INICIO de seccion footer 

/* footer */
.footer {
    background-color: var(--dark-color);
    margin-top: 10rem;
}

.footer-item {
    margin-bottom: 6rem;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-head {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.footer-item .icon {
    width: 250px;
    margin: auto;
}

.footer-item .text {
    padding: 3rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.footer-item address {
    font-size: 1.5rem;
    font-style: normal;
}

.footer-item .tags-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-item .tags-list li {
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    background-color: rgb(58, 58, 58);
    border-radius: .4rem;
}

.footer-item a {
    margin-bottom: 1rem;
    display: inline-block;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.footer-item a:hover {
    color: var(--dark-gray);
}

.footer-item:last-child .text {
    padding-top: 0;
}

.footer-item .appointment-info li {
    margin: 1rem 0;
}

.footer-item .appointment-info li span {
    margin-left: 1rem;
}

.footer-links {
    border-top: 2px solid var(--dark-gray);
    padding: 4.5rem 0;
}

.footer-links li {
    margin: 0 2.4rem;
    font-size: 2rem;
}

.footer-links li a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--light-color);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.footer-links li a:hover {
    background-color: var(--light-color);
    color: var(--fros-blue-color);
}



/* FIN de seccion para footer */

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* -------------------- fin de index ------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
/* ------------------------Nosotros ventana ---------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */

.hero-nosotros {
    background-image: url(/images/bg-hero.png);
    background-position: center;
    height: 450px;
}

.negro-bg {
    background-color: rgba(8, 31, 65, 0.671);
    height: 450px;
    position: relative;
}

.negro-bg h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 70px;
}

.nosotros- {
    padding: 4rem;
}

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
}

.flex-item-1 {
    flex-basis: 40%;
    max-width: 40%;
    display: flex;
    /*Centramos el contenido verticalmente*/
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.flex-item-2 {
    flex-basis: 60%;
    max-width: 50%;
    padding: .5rem;
    margin: auto;
    /*Centramos el contenido verticalmente*/
    text-align: center;
    /*Centramos el contenido horizontalmente*/
    text-align: justify;
}

@media (max-width: 900px) {

    .flex-item-1,
    .flex-item-2 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/*---------------------------------------------*/

/*---------------------------------------------------------------*/

/* INICIO sobre nosotros */

.nosotros {
    padding: 1rem 0 0 0;
    display: flex;
}

.nosotros .hero-nosotros {
    display: flex;
    flex-wrap: wrap;
}

.nosotros-index {
    padding: 5rem 0rem;
}

.contenedor-nosotros {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 140rem;
    margin: 0 auto;
}

.nosotros-clinica {
    width: 40%;
}




.texto-nosotros {
    width: 60%;
    margin: 0 auto;
}

.img-logo {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}

.texto-nosotros p {
    padding: 2rem;
}


/* FIN sobre nosotros */



/*---------------------------------------------------------------*/
.principios{
    padding: 10rem 0rem;
    margin-top: 1rem;
}
.container-principios{
    max-width: 1000px;
    max-height: 2000px;
    padding: 1rem;
    margin: 0 auto;
}

.container-principios h1{
    text-align: center;
  padding: 0.5rem;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container-principios h1::after{

    content: '';
    background: white;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row-principios{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px ;
}

.principio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    background: white;
    transition: transform 0.5s, background 0.5s;;
}

.principio i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--blue-color);
}

.principio h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.principio:hover{
    background: var(--blue-color);
    color: #fff;
    transform: scale(1.05);
}
.principio i:hover{
    color: white;
}


/*---------------------------------------------------------------*/

/* estados e informes financieros */

.contenedor-informes {
    display: flex;
    flex-wrap: wrap;
    padding: 15rem 0rem 0rem 0rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.selectbox {
    width: 600px;
    height: 20%;
    margin: auto;
    position: relative;
}

.selectbox .select {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
    border: 2px solid var(--fros-blue-color);
}

.selectbox .select.active,
.selectbox .select:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    border: 2px solid #213f8f;
}

.selectbox .select.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #213f8f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}

.selectbox .select i {
    font-size: 30px;
    margin-left: 30px;
    color: #213f8f;
}

.selectbox .titulo {
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    font-size: 30px;
}

.selectbox .descripcion {
    font-size: 18px;
    color: #434343;
}

.selectbox .opciones {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
}

.selectbox .opciones.active {
    display: block;
    animation: fadeIn .3s forwards;
}


@keyframes fadeIn {
    from {
        transform: translateY(-200px) scale(.5);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

.selectbox .contenido-opcion {
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}

.selectbox .opciones .contenido-opcion {
    padding: 30px;
}

.selectbox .contenido-opcion img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.selectbox .opciones .contenido-opcion:hover {
    background: #213F8F;
}

.selectbox .opciones .contenido-opcion:hover .titulo,
.selectbox .opciones .contenido-opcion:hover .descripcion {
    color: #fff;
}

@media screen and (max-width: 800px) {
    .selectbox {
        width: 100%;
    }
}

/*---------------------------------------------------------------*/







/*---------------------------------------------*/

.container-qs {
    padding-top: 10rem;
}

.text-qs {
    padding: 1rem;
}

.container-qs p {
    display: inline-block;
    max-width: 1400px;
}

/*---------------------------------------------*/
.ns {
    padding-bottom: 15rem;
}

.container-ns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.item-ns {
    width: 700px;
    height: 400px;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

.item-ns_n {
    width: 700px;
    height: 100px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.ns-mision {
    background-image: url(/images/mision-img1.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ns-vision {
    background-image: url(/images/vision-img1.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item h2 {
    text-align: center;
    font-size: 24px;
}

.ns_n-1 {
    background-color: #3585ff;
    background-image: linear-gradient(132deg, #3585ff 0%, #33a0ff 100%);
}

.ns_n-2 {
    background-color: #3585ff;
    background-image: linear-gradient(132deg, #3585ff 0%, #33a0ff 100%);

}






/*---------------------------------------------*/


.contenedor-nos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 1600px;
    max-width: 1400px;
    margin: 0 auto;
}

.info-nos {
    width: 800px;
    text-align: justify;
    font-size: 17px;
    margin: 0 auto;
}

.info-nos img {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

#div1 {
    width: 400px;
justify-content: center;
    margin: 0 auto;
}

#div2 {
    padding: 3rem;
    position: relative;
    max-width: 400px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/box-nosotros.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);

}

#btn-toggle {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 15rem;
    height: 4rem;
    border-radius: 5px;
    border: 1px solid #007bff;
    font-size: 20px;
    background-color: rgba(6, 71, 146, 0);
    color: var(--blue-color);
    cursor: pointer;
    box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
}

#btn-toggle:hover {

    background-color: #007bffe1;
    color: white;
}

#misiondiv,
#visiondiv {
    margin-bottom: 20px;
}

#misiondiv h2,
#visiondiv h2 {
    font-size: 24px;
    margin-top: 0;
}

#misiondiv p,
#visiondiv p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

/*---------------------------------------------*/
@media screen and (max-width: 768px) {
    .item {
        flex-basis: 100%;
    }
}

/*---------------------------------------------*/





/*---------------------------------------------*/

.trabajo_nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.trabajo-nos {
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 5px;
}

.trabajo-nos h1 {
    padding: 2rem;
}

.trabajo-nos img {
    max-height: 500px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 2px 6px 11px -2px rgba(0, 0, 0, 0.58);
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* -----------------------PACIENTE Y FAMILIA    -------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */


.pacyfam_intro {
    padding: 8rem 5rem;
}

.pyf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info_pyf {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-info_pyf .info_n {
    max-width: 1000px;
    margin: 0rem 2rem;
}

.container-noticias-pyf {
    max-width: 1300px;

    padding: 2rem 6rem;
    border-radius: 5px;
}

.container-noticias-pyf h2 {
    padding: 2rem 0 3rem 0;
}

.noticias-pyf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding-bottom: 8rem;
}

.card {
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 390px;
    margin-top: 0.2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    /* para recortar la imagen si es más grande que el contenedor */
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
    /* para evitar espacios vacíos debajo de la imagen */
}

.card:hover .card-image img {
    transform: scale(1.1);
}

.card-text {
    padding: 10px;

}


.card-text h3 {
    margin: 10px 5px;
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.card-text p {
    margin: 2px;
    font-size: 14px;
    color: #666;
}

.card button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
}

.card-button:hover {
    background-color: #555;
}



.nuestro_equipo{
    margin-bottom: 10rem;
}


/* pyf carousel publicidad */

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 5rem 0rem;
}

.carousel img {
    flex: 0 0 100%;
    height: auto;
}







.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;

    gap: 10rem
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.btn-agendar_wpp {
    background-image: url(/images/logo.png);
    background-position: center;
    background-size: cover;
    padding: 3rem 10rem;
    margin: 0 auto;
}

.form {
    flex: 1 0 25%;
    background-color: rgb(247, 247, 247);

}

.form h2 {
    font-size: 24px;
    margin-top: 0;
}

.contact-info ul {
    list-style: none;
    padding-left: 0;
    padding: 10rem 2rem;

}

.contact-info li {
    margin-bottom: 5px;
    font-size: 20px;
}

.wrapper form {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 30px;
}

.wrapper label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.wrapper input[type="text"],
.wrapper input[type="tel"],
.wrapper input[type="email"],
.wrapper select,
.wrapper textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='%23444444' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.wrapper input[type="checkbox"] {
    margin-right: 5px;
}

.name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.doc-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.birthdate1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.birthdate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 1rem;
}

.phone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.submit {
    margin-top: 20px;
}

.submit button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.wrapper button[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .contact-info {
        flex: 1 0 100%;
    }

    .form {
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper label {
        font-size: 16px;
    }

    .wrapper input[type="text"],
    .wrapper input[type="tel"],
    .wrapper input[type="email"],
    .wrapper select,
    .wrapper textarea {
        font-size: 14px;
        padding: 6px;
    }

    .wrapper button[type="submit"] {
        font-size: 16px;
        padding: 8px 16px;
    }
}















/*
.noticia-pyf h2 {
    margin-top: 0;
    font-size: 24px;
}

.noticia-pyf .resumen {
    font-size: 16px;
}

.noticia-pyf .texto-completo {
    display: none;
    font-size: 16px;
    margin-top: 10px;
}

.noticia-pyf .leer-mas {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
*/
@media screen and (max-width: 768px) {
    .noticias-pyf {
        flex-direction: column;
    }

    .noticia-pyf {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

/* publicidad */
/* Estilos para el botón */
/* Estilos para el botón */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    /* Oculta la ventana modal por defecto */
    position: fixed;
    /* Mantiene la ventana modal fija en la pantalla */
    z-index: 1;
    /* Asegura que la ventana modal esté por encima del resto de elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo negro con opacidad */
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;

    border: 1px solid #888;
    max-width: 800px;
    max-height: 700px;
    /* Altura máxima permitida */
    overflow-y: auto;
    /* Aparece una barra de desplazamiento vertical si el contenido es más grande que la altura máxima */
    position: relative;
}


/* Estilos para el botón de cerrar */
.close {
    color: #f50000a8;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    position: absolute;
    top: 15px;
    right: 15px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el track del scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background-color: #f5f5f5;
}



/* Estilos para el thumb del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* Estilos para el thumb del scrollbar al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: #3865a8;
}

/* Estilos para la imagen */
.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------publicaciones--------------------------- */
/* ----------------------------------------------------------------------- */

.publicaciones_intro .flex-container {
    max-width: 800px;
    padding: 0rem 0rem 0rem 0rem;
    border: 1px solid #d4d4d4;
    border-bottom: 5px solid rgb(52, 90, 14);
    text-align: justify;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.publicaciones_intro .flex-container p {
    font-size: 14px;
    text-align: justify;

}

/*                 */
.publicaciones-contenedor {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    gap: 20px
}

.columna-1 {
    width: 300px;
    height: 700px;

}

.columna-1 img {
    width: 100%;
    height: auto;
}

.columna-2 {
    width: 100%;
    max-width: 1000px;
    display: flex;
}

.publicaciones-flex-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.publicacion {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border-bottom: 4px solid #0056b3;



}

.publicacion p {
    font-size: 14px;
    padding: 0rem 1rem 0rem 1rem;

}

.publicacion h3 {
    padding: 0rem 1rem;
    font-size: 16px;
}

.publicacion img {
    width: 100%;
    height: auto;
}

@media (max-width: 968px) {
    .publicaciones-contenedor {
        flex-direction: column;
    }

    .columna-1 {
        max-width: none;
    }

    .publicacion {
        width: 100%;
    }
}


/*                 */

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------Convenios  ------------------------------------- */
/* ----------------------------------------------------------------------- */

.encabezado-convenios {
    width: 80%;
    margin: 0 auto;
}

.imagenes-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagenes-container img {
    width: 200px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .imagenes-container img {
        width: 150px;
        height: 180px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------------------------------- */
/* ----------------------------------------------------------------------- */

#resultados {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}









/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------   HORARIOS  ------------------------------------- */
/* ----------------------------------------------------------------------- */



.container-horario {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.flexwrap-horario {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem
}

.card-horario {
    max-width: 550px;
    background-color: rgba(241, 241, 241, 0.979);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.headcard-horario {
    height: 80px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.bodycard-horario {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.title-cardbody {
    font-weight: bold;
    font-size: 20px;
}

.bodycard-horario span {
    font-weight: bold;
    color: var(--fros-blue-color);
}

.content-cardbodyh {
    padding: 1rem;
    font-size: 17px;

}

.info-cardbody {
    font-weight: bold;
}

.info-horario {
    background-color: var(--fros-blue-color);
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------FIN HORARIOS------------------------------------- */
/* ----------------------------------------------------------------------- */








/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------INICIO CONTACTENOS------------------------------------- */
/* ----------------------------------------------------------------------- */


.contenedor-contactenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    background-color: #000;
}

.formulario-contactenos {
    width: 400px;
    background-color: #007bff;
}

.formulario-contactenos form {
    padding: 5rem;
}

.formulario-contactenos .label {
    display: block;
    margin-bottom: 10px;
}

.formulario-contactenos input[type="text"],
.formulario-contactenos input[type="email"],
.formulario-contactenos textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.formulario-contactenos input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.formulario-contactenos input[type="submit"]:hover {
    background-color: #3e8e41;
}

.formulario-contactenos .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.formulario-contactenos label {
    display: block;
    margin-bottom: 10px;
}

.formulario-contactenos input[type="text"],
.formulario-contactenos input[type="email"],
.formulario-contactenos textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.formulario-contactenos input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.formulario-contactenos input[type="submit"]:hover {
    background-color: #3e8e41;
}

.formulario-contactenos .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------FIN CONTACTENOS------------------------------------- */
/* ----------------------------------------------------------------------- */



/* ----------------------------------------------------------------------- */
/*  --------------  MEDIA QUERYS ------------*/
/* ----------------------------------------------------------------------- */


@media screen and (max-width: 450px) {
    .package-service {
        font-size: 15px;
        height: 110rem;
    }

    .box-servicio {
        width: 300px;
    }

    .contact {
        width: 80%;
        background-color: #000;
    }

    .contact-right {
        min-width: 60%;
    }

    .contact-info-m {
        height: 8%;
        width: 100%;
    }

    .contact-info-m p {
        font-size: 10px;
    }
}


@media screen and (max-width: 600px) {
    .panel {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
        grid-row-gap: 10px;
        max-height: 1500px;

    }

    .hero-inicio {

        height: 1500px;

    }

    .panel-servicios {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }


    .grid-item {
        border-radius: 10px;
    }

    .panel-ubicacion {
        border-radius: 10px;
    }

    /*  --------------------------------------------------- */
    .especialidades {
        padding-top: 5rem;
        height: 1800px;

    }

    .contenido-about {
        flex-direction: column;
        width: 65%;
    }

    .package-service {
        height: 1200px;
    }

}

@media screen and (max-width: 768px) {
    .panel {
        width: 90%;
    }

}

@media screen and (max-width: 992px) {
    .nosotros-clinica {
        width: 100%;
    }

    .texto-nosotros {
        width: 100%;
    }



    .grid-contact {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10rem;

    }

    .capacidad-countup {
        flex-wrap: wrap;
    }


}


@media(min-width: 768px) {
    .header-inner-left h1 {
        font-size: 5.7rem;
    }


    .footer-inner {
        text-align: center;
    }

    .footer-item .tags-list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .info-capacidad {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media(min-width: 992px) {
    .header-inner {
        padding-top: 3.2rem;
    }

    .header-inner .container {
        grid-template-columns: 545px auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: calc(100vh - 32px);
        position: relative;
    }

    .header-inner-left {
        text-align: left;
    }

    .header-inner-left .text {
        margin-left: 0;
    }

    .header-inner-left .btn-group {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .header-inner-right img {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 5rem;
    }

}


@media(min-width: 1200px) {

    .navbar-show-btn,
    .navbar-hide-btn {
        display: none;
    }

    .navbar-collapse {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;


    }

    .nav-item {
        margin: 0 auto;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 2rem;

    }

    .nav-link {
        color: #363636;
        opacity: 1;
        font-weight: 500;
        position: relative;
        max-width: 180px;
    }


    .nav-link::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--fros-blue-color);
        opacity: 0;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }

    .nav-link:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        color: var(--fros-blue-color);
    }

    .nav-link:hover::after {
        opacity: 1;
        width: 100%;
    }

    .search-bar {
        margin-left: 5.5rem;
    }

    .search-inner-right {
        width: 100%;
    }

    .search-inner-right img {
        padding-left: 0;
        max-width: 647px;
    }

    .search-control {
        width: 150px;
    }

    .header-inner-right {
        width: 100%;
    }

    .header-inner-right img {
        padding-left: 0;
        max-width: 647px;
    }

    .contact .container {
        grid-template-columns: auto 514px;
    }

    .footer-inner {
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 6rem;
        -moz-column-gap: 6rem;
        column-gap: 6rem;

    }
}


/*------------------- FIN DE MEDIA QUERYS ---------------- */

@media(min-width: 450px) {
    .navbar-collapse {
        width: 320px;
    }

}